<div>
    <h1>Thêm lịch theo từng cá nhân</h1>

    <form method="POST" action="/api/event/insert/person">

        <div style="visibility: hidden;" class="form-group">
            
            <input name="userId" value="{{userId}}" type="text" class="form-control" id="exampleFormControlInput1" placeholder="id">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nội dung lịch</label>
            <input name="eventName" type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Nhập nội dung lịch">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Thời gian</label>
            <input name="time" type="datetime-local" class="form-control" id="exampleFormControlInput1" placeholder="Nhập tpic">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Tên phòng</label>
            <input name="location" type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Nhập tên phòng">
        </div>

        


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>